body {
    background-color: white;
    color: black;
    vertical-align: middle;
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    padding: 10% 15% 10% 15%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.block {
    text-align: center;
    white-space: nowrap;
    height: 100%;
    vertical-align: middle;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#search {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#search_query {
    min-width: 250px;
    padding: 4px 15px 4px 15px;
    border: 3px solid orange;
    border-top-left-radius: 100%250px;
    border-bottom-left-radius: 100%250px;
    border-top-right-radius: 100%250px;
    border-bottom-right-radius: 100%250px;
    outline: none;
}

#search_button {
    visibility: hidden;
}

#reset_button {
    height: 20px;
    width: 10px;
    vertical-align: middle;
    margin-top: -69px;
    margin-left: 210px;
    background: transparent;
    border: none;
    outline: none;
}

#eks {
    height: 20px;
    width: 20px;
}

#eks:hover {
    opacity: .7;
}

.forwardSlash {
     height: 105%;
     width: 12%;
     background-color: orange;
     transform: rotate(45deg);
     margin-left: 8px;
 }

.backSlash {
    height: 105%;
    width: 12%;
    background-color: orange;
    transform: rotate(-45deg);
    margin-left: 8px;
    margin-top: -21px;
}

#results {
    margin-bottom: 10%;
    list-style: none;
}

.listResult {
    background-color: #cccccc;
    padding: 10px;
    margin-top: 10px;
    color: black;
}

.listResult:hover {
    box-shadow: -5px 0px 0px orange;
}

@media (max-width: 500px) {
    body {
        padding: 2% 4% 2% 4%;
    }
}